<div class="popup">
  <link rel="stylesheet" type="text/css" href="app-mobile.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
  <button class="cerrar" (click)="cerrarAppMobile()"></button>
    <hr class="contornoarriba">
    <h2 class="titulo">Escaneo Corporal</h2>
    <hr class="contornoabajo">
    <p class="textorandom"> Si tens dudas sobre tus medidas pordes sacar un turno para esanear tu cuerpo. Para ello deberas descargar la app de Virtual Trends</p>
      <div class="appmobile">
      <!--- <div class="talle">TALLE ESTÁNDAR</div> -->
      </div>
  </div>
