.popup{
    position:flex;
    margin-left: 7.03%;
    right: 56.37%;
    margin-top: 1em;
    margin-bottom: 11.72%;
    width: 427px;
    height: 380px;
    border: 2px solid #3b3d40;
    border-radius: 6px;
    background-color: #F8F8F8;
    transform: translateX(-50%, -50%);
    transform: translateY(-50%, -50%);
  }
  
  .cerrar{
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 400px;
    width: 20px;
    height: 20px;
    border: 1px solid #575757;
    border-radius: 6px;
    font-size: 22px;
    color: #575757;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0%;
    background-image: url(../../../assets/CRUZ.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .cerrar:hover {
    background-image: url(../../../assets/CRUZ-CLARA.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .cerrar:active {
    background-image: url(../../../assets/CRUZ.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .contornoarriba {
    margin-top: 42px;
    width: 342px;
    margin-left:10%;
    color:#3b3d40;
  }
  
  .titulo {
    text-align: center;
    font-style:normal 409px;
    font-size: 23px;
    color: #3b3d40 ;
    font-family: 'Josefin Sans';
    height: 10px;
    left: 129px;
    margin-top: 23px;
    line-height: 10px;
  }
  .contornoabajo {
    top: 14px;
    width: 342px;
    margin-left:10%;
    color:#3b3d40;
  }
  
  .textorandom {
    width: 217px;
    height: 46px;
    top: 4px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    margin: auto;
  }

  .appmobile{
    
    border: 3px #575757;
    border-radius: 3px;
    width: 256px;
    align-items: center;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 50px;
    height: 25px;
  }

  .appmobile img{
    margin-left: 28px;

  }