<div class="popup">
  <link rel="stylesheet" type="text/css" href="app-mobile.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
  <button class="cerrar" (click)="cerrarAppMobile()"></button>
    <hr class="contornoarriba">
    <h2 class="titulo">ESCANEO CORPORAL</h2>
    <hr class="contornoabajo">
    <p class="textorandom"> Si tenes dudas sobre tus medidas podes sacar un turno para esanear tu cuerpo. Para ello deberas descargar la app de Virtual Trends</p>
      <div class="appmobile">
        <img src="../../../assets/googleplay byn.png" alt="playstore">
      </div>
  </div>
