.products-container {
    display: flex;
    /* align-items: center; */
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    max-width: 1000px;
    /*margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; */
    /* flex-wrap: wrap; 
    justify-content: center;*/
}

.card-container {
    display: flex;
    border-radius: 10px;
    border: solid 1px rgb(174, 173, 173);
    background-color: #F8F8F8;
    transition: background-color .5s;
    width: 450px;
    margin-bottom: 16px;
    /* height: 152px; */
    height: 250px;
}

.card-container:hover {
    background-color: #d4ced0;
}

.text-container {
    padding-right: 1em;
}

.picture {
    width: auto;
    height: 200px;
    margin-right: 1em;
    margin-left: 1em;
    align-self: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 40%;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    margin: 15px 0px 0px;
    margin-top: 15px;
    flex-wrap: wrap;
    display: flex;
}

.price {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    padding: 1em 1em;
}

h1, .price, .picture {
    cursor: pointer;
}

.amount-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
    cursor:default;
}

button {
    cursor: pointer;
    border: solid 2px #656565;
    width: 30px;
    height: 30px;
}

button:disabled {
    cursor: not-allowed;
    border: solid 2px rgba(126, 125, 125, 0.3);
}

.favorite-pic {
    width: 20px;
    height: 25px;
    cursor: pointer;
    float: right;
}

.favorite-buttons-container {
    margin: 10px;
    position: absolute;
}

@media screen and (min-width: 720px) {
    .odd {
        margin-left: 20px;
    }
}